---
import Base from "../layouts/Base.astro";
---

<Base title="Projects" description="Things I've built.">
  <h1>Projects</h1>

  <ul class="note-list">
    <li>
      <div class="note-title">Project name</div>
      <div class="note-meta">
        <!-- TODO: one-line description, link to repo / demo -->
        Short description. <a href="#">repo</a>
      </div>
    </li>
  </ul>
</Base>
