---
import { SITE } from "../config";
---

<nav class="nav">
  <div class="nav-inner">
    <a class="nav-brand" href="/">{SITE.name}</a>
    <a href="/research">Research</a>
    <a href="/projects">Projects</a>
    <a href="/notes">{SITE.notesLabel}</a>
    <a href="/cv">CV</a>
  </div>
</nav>
